@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center; */
  width: 100vw;
  min-height: 100vh;
}

#root {
  width: 100vw;
  height: 100vh; /* Si también deseas que ocupe toda la altura */
  display: flex;
  flex-direction: column;
}
